// Colors
$color-grey: #666666;
$color-grey-dark: #3a3a39;
$color-grey-light-20: lighten($color-grey, 20%);
$color-grey-light-25: lighten($color-grey, 25%);
$color-grey-light-30: lighten($color-grey, 30%);
$color-grey-light-40: lighten($color-grey, 40%);
$color-grey-light-50: lighten($color-grey, 50%);
$color-grey-light-57: lighten($color-grey, 57%);
$color-grey-light-60: lighten($color-grey, 60%);
$color-red-dark: #740000;
$color-gold: rgb(217, 193, 71);
$color-gold-dark: darken($color-gold, 10%);
$color-gold-light: lighten($color-gold, 30%);
$color-gold-lighter: lighten($color-gold, 35%);
$color-red-gradient: #e80017;

$color-red: #FF0000;
$color-red-darker: darken($color-red-dark, 5%);
$color-red-light: lighten($color-red-dark, 15%);
$color-red-lighter: lighten($color-red-dark, 67%);
$transparent: transparent;

$color-link: $color-grey-dark;
$color-link-hover: $color-grey-light-20;
$color-link-border: $color-grey-light-40;

// Breakpoints
$breakpoints: (
	xs: 320px,
	sm: 560px,
	md: 768px,
	lg: 1000px,
	xl: 1280px,
	xxl: 1440px
);

// Spacing
$spacing: 1rem;
$spacing-sm: $spacing / 2;
$spacing-lg: $spacing * 1.5;

// Fonts
$font-family: 'Open Sans Condensed';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;
$font-size: 1.5rem;
$font-size-sm: $font-size * 0.85;
$font-size-lg: $font-size * 1.25;

// Other
$transition: all 0.1s;
$slow-transition: all 0.5s;

// Lightcase
$lightcase-custom: (
	'font-path': '../assets/lightcase-icons/',
);

// $lightcase-default: (
//   'font-path': '../assets/lightcase-icons/', // Path relative to the compiled css file
//
//   'breakpoint': 641px,
//
//   'overlay-color': #333,
//
//   'case-background': #fff,
//   'case-background-media': #333,
//
//   'icon-font-size': 38px,
//   'icon-color': rgba(255, 255, 255, 0.6),
//   'icon-color-hover': rgba(255, 255, 255, 1),
//
//   'title-font-size': 17px,
//   'title-color': #aaa,
//
//   'caption-font-size': 13px,
//   'caption-color': #aaa,
//
//   'sequenceInfo-font-size': 11px,
//   'sequenceInfo-color': #aaa,
//
//   'text-shadow': 0 0 10px rgba(0, 0, 0, 0.5),
//   'text-color-viewport-small': #aaa,
//   'text-color-viewport-large': #333
// );
