.about {
    margin: 4rem auto;
    width: 80%;

  &__title {
    font-weight: $font-weight-regular;
    font-size: $font-size*1.9;

    &::after {
      display: block;
      margin-top: 1rem;
      width: 10%;
      height: 2px;
      background: $color-red-light;
      content: "";
    }

  }
  &__description {
    padding-left: 1rem;
    font-size: $font-size;

    &--img {
      font-size: $font-size*0.8;
    }
    &--sm {
      padding-left: 2rem;
      font-size: $font-size*0.9;
    }
  }
  &__entry {
    padding-left: 1rem;
    font-size: $font-size*1.2;
  }
  &__item {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1.3px solid $color-grey-light-30;
  }
  &__link {

  }
  &__img {
    width: 100%;
  }
}
