.center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5rem 0;

  &--profile {
    margin: 2rem 0;
  }

  &__container {
    align-self: center;
    flex-basis: 50%;
    background-color: $color-grey-light-50;

  }
}
