.content {
  flex-basis: 100%;
  margin: 1rem;
  padding: 0.75rem 2rem;
  background: $color-grey-light-50;

  @include respond-to(lg) {
    flex-basis: 70%;
    margin: 5rem 3rem 4rem 5rem;
  }

  &__profile {

  }
  &__header {
    width: 100%;
    padding-left: 2rem;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    color: $color-grey-dark;
    display: flex;

  }
  &__entry {
    font-weight: $font-weight-regular;
    font-size: $font-size*1.3;
    flex-basis: 55%;

    &::after {
      display: flex;
      margin-top: 1rem;
      width: 175%;
      height: 1px;
      background: $color-grey-light-20;
      content: "";
    }
  }
  &__options {
    display: flex;
    margin-top: 2.3rem;
  }
  &__item {
    display: flex;

    &::after {
      margin-left: 1rem;
      display: block;
      width: 2px;
      height: 1.75rem;
      margin: 0 $spacing;
      background: $color-red-dark;
      content: "";
    }
    &:last-child::after {
      content: none;
    }
  }
  &__icon {
    padding-right: 0.5rem;
  }
  &__link {
    color: $color-grey-dark;

    &:hover {
      color: $color-red-dark;
    }
  }
  &__favourite {

  }
  &__rating {
    margin-bottom: 2rem;
  }
}
