.detail {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background: $color-grey-light-50;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;

  @include respond-to(md) {
    flex-direction: row;
    width: 90%;
  }

  &__item {
    @include respond-to(md) {
      flex-grow: 1;
      flex-basis: 35%;
      max-height: 25rem;

    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__link {
    display: block;
    height: 100%;
  }
  &__description {
    text-align: center;
    padding: 2rem;
    font-size: $font-size*0.9;

    @include respond-to(md) {
      margin: 3rem;
      flex-basis: 65%;

    }
  }
  &__text{
    font-size: $font-size*0.8;
    text-align: center;
    padding: 1rem;

    @include respond-to(lg){
    }
  }

}

.detail:nth-child(odd) .detail__item {
  @include respond-to(md) {
    order: 2;
  }
}

.detail__description ol {
  font-size: $font-size*0.6;
  text-align: left;
  margin: 0;
  padding-left: 1rem;
}
