.favourites {
  padding: 1rem;
  columns: 1;
  column-fill: balance;
  column-gap: $spacing;

  @include respond-to(md) {
    columns: 2;
  }
  @include respond-to(lg) {
    columns: 4;
  }

  &__link {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: $spacing;
    opacity: 0.7;
    transition: $slow-transition;

    &:hover {
      opacity: 1;

      .favourites__icon {
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;
    vertical-align: middle;
  }
  &__icon {
    color: red;
    font-size: $font-size;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    padding: $spacing;
    color: red;
    z-index: 1;
    opacity: 0;
    transition: $slow-transition;
  }

  &__image {
    display: block;
    width:100%;
    height: auto;
    object-fit: cover;
  }
}
