.gallery {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
  align-content: center;

  &__inspiration {
    position: absolute;
    height: 28%;
    width: 100%;
    background: rgba(217, 193, 71, 0.8);
    color: black;
    z-index: 1;
    top: 72%;
    left: 0;
    transition: $slow-transition;
  }
  &__header {

    font-size: $font-size*0.8 !important;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-left: 1rem;

  }
  &__item {
    padding: 1%;
    margin-bottom: 2rem;

    @include respond-to(md) {
      width: 49%;
      height: 15rem;
      padding: 1%;
    }
    @include respond-to(lg) {
      height: 15rem;
      width: 25%;
      padding: 1%;
    }

    &--inspiration {
      height: 23rem;

      @include respond-to(lg) {
        height: 20rem;
        width: 25%;
        padding: 1%;
        font-size: $font-size*0.8;

      }
    }
  }
  &__link {
    position: relative;
    display: block;
    height: 100%;
    &:hover {
      .gallery__description {
        opacity: 1;
      }
    }
    &--inspiration {
      &:hover {
        .gallery__inspiration {
          background-color: rgb(217, 193, 71);
        }
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: $spacing;
    background: rgba(217, 193, 71, 0.9);
    color: black;
    z-index: 1;
    opacity: 0;
    transition: $slow-transition;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    font-size: $font-size*1.2;
  }
  &__details {
    margin: 0;
    font-size: $font-size;
  }
}
