.identification {
  align-self: start;

  &__name {
    margin: 0;
    color: lighten($color-red-gradient, 45%);
    text-transform: uppercase;
    font-size: $font-size;
    text-align: left;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: translate(0, 100%) rotate(90deg); /* Safari 3-8 */
    transform: translate(0, 100%) rotate(90deg);
    white-space: nowrap;
    width: $font-size*3;

    @include respond-to(md) {
      font-size: $font-size*2.5;
      margin-right: 1rem;
      margin-top: -5rem;
    }
    @include respond-to(lg) {
      font-size: $font-size*3;
      margin-right: 1rem;
      margin-top: -5rem;
    }
    @include respond-to(xxl) {
      font-size: $font-size*3.25;
      margin-right: 1rem;
      margin-top: -10rem;
    }

  }
}
