.navigation {
  display: flex;
  width: 100%;
  margin-left: auto;
  order: 99;
  flex-direction: column;
  margin-bottom: $spacing;

  @include respond-to(lg)  {
  	  @include unvisuallyhidden;
      flex-direction: row;
      margin-right: auto;
      order: 0;
  }
}
