.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 $spacing-lg;
  background: $color-grey-light-60;
  box-shadow: 0 3px 11px 0 $color-grey-light-50;
  z-index: 200;

  &__button {
  	display: flex;
  	border: none;
  	background: none;
  	align-self: center;
  	font-size: $font-size-lg * 1.5;

  	&:hover,
    &:focus {
  		color: $color-link-hover;
  		transition: transition;
      outline: none;
  	}

  	@include respond-to(lg) {
  		@include visuallyhidden;
  	}
  }
}

.no-js .navbar {
  position: static;
  top: auto;
  left: auto;
}
