.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  &__header {
    display: flex;
    margin-bottom: 1rem;
  }
  &__area {
    display:flex;
    background: $color-grey-light-40;
  }
  &__icon {
    font-size: $font-size*1.5;
    padding-right: 1rem;
    color: $color-grey-light-20;

    &--bg {
      font-size: $font-size*1.5;
    }
    &--sm {
      padding:0.75rem;
      font-size: $font-size*1.2;
      background: $color-grey-light-30;
    }
  }
  &__username {
    font-size: $font-size*1.5;
    font-weight: $font-weight-regular;
    color: $color-grey-dark;
    margin: 0;
  }
  &__informations {
    font-size: $font-size*1.1;
    text-align: left;
    vertical-align: top;

  }
  &__item {
    font-weight: $font-weight-regular;
    font-size: $font-size*0.8;
    color: $color-grey-light-20;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
  &__data {
    padding:0.75rem;
    margin: 0;

  }
}
