.profile {
    display: flex;
    flex-direction: column;

    @include respond-to(lg) {
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

  &--form {
    padding-bottom: 0;
  }
  &__header {
    display: flex;
    margin-bottom: 1rem;
    flex-basis: 40%;

    &--input {
      width: 40%;
    }
  }
  &__area {
    display:flex;
    background: $color-grey-light-40;

    &--form {
      background: none;
      padding-bottom: 0.75rem;
    }
  }
  &__icon {
    font-size: $font-size*1.5;
    padding-right: 1rem;
    color: $color-grey-light-20;
    margin: 0;

    &--bg {
      font-size: $font-size*1.5;
    }
    &--sm {
      padding:0.75rem;
      font-size: $font-size*1.2;
      background: $color-grey-light-30;
    }
    &--button {
      color: white;
      font-size: $font-size*0.7;
      padding-right: 0.3rem;
    }
  }
  &__username {
    font-size: $font-size*1.5;
    font-weight: $font-weight-regular;
    color: $color-grey-dark;
    margin: 0;

    &--input {
      background-color: $color-grey-light-40;
      padding: 0.25rem;
      margin-left: 0.25rem;
      width: 76%;
      font-size: $font-size*1.25;
      outline: none;
    }
  }
  &__informations {
    font-size: $font-size*0.8;
    text-align: left;
    vertical-align: top;
    width: 90%;

    @include respond-to(lg) {
      width: 30%;
      font-size: $font-size*1.1;
    }

    &--form {
      width: 50%;
    }
    &--input {
      width: 40%;
    }

  }
  &__item {
    font-weight: $font-weight-regular;
    font-size: $font-size*0.8;
    color: $color-grey-light-20;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;

    &--label {
      display: block;
      font-size: $font-size*0.9;
    }
  }
  &__data {
    padding: 0.6rem;
    margin: 0;

    &--input {
      background-color: $color-grey-light-57;
      border: 1.3px solid $color-grey-light-30;
      color: $color-grey-dark;
      margin: 0;
      width: 100%;
      font-size: $font-size;
      outline: none;
      transition: $slow-transition;

      &::placeholder {
        color: $color-grey-light-40;
      }
      &:focus {
        border: 1.3px solid $color-gold-dark;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    padding: 0 1.5rem;
    height: 2rem;
    font-size: 16px;
    border-style: none;
    background-color: #e22020;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: $font-weight-bolder;

    @include respond-to(lg) {
      height: 2.5rem;
      padding: 0 2rem;
    }

    &--save {
      font-size: 16px;
      border-style: none;
      color: white;
      background-color: #2fa21d;
      border-radius: 5px;
    }
    &--return {
      flex-basis: 25%;
    }
    &--information {
      background-color: $color-grey-light-20;
    }
    &--register {
      align-self: center;
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      background-color: $color-gold-dark;
      text-transform: uppercase;
      font-weight: $font-weight-bolder;
      color: $color-grey-light-50;
      font-size: $font-size*0.8;
    }

  }
  &__buttons {
    display: flex;
    margin-top: 5rem;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__delete {
    display: block;
    font-size: $font-size*1.1;
    text-align: center;
    margin-bottom: 0;
  }
}
