.ratings {
    padding-left: 1rem;
    padding-right: 1rem;

  &__stars {
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
  }
  &__icon {
    color: gold;
    font-size: $font-size*0.9;

  }
}
