.return {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;

  @include respond-to(lg) {
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__link{
    color: $color-red-darker;
  }
  &__icon{
    font-size: $font-size*0.85;

    @include respond-to(lg) {
      font-size: $font-size*0.7;
    }
  }
  &__item{
    font-size: $font-size*0.85;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;

    @include respond-to(lg) {
      font-size: $font-size*0.7;
    }
  }
}
