.user {
  margin: 5rem;
  background: $color-gold-light;

  &__item {
    padding: 1rem 4.5rem 1rem 1.5rem;
    display: block;

  }
  &__link {
    display: block;
    color: $color-grey-dark;
    font-size: $font-size;
    text-transform: uppercase;
    transition: $slow-transition;

    &--active {
      background: $color-gold;
    }
  }
  &__icon {
    font-size: $font-size;
    padding-right: 0.5rem;
  }
}
