.years {
	position: fixed;
	top: 8rem;
	left: 0;

	@include respond-to(lg) {
		position: fixed;
		top: 15rem;
		left: 0;
	}

	&__menu {
	}

	&__item {
		margin-top: $spacing-lg*0.7;

		@include respond-to(lg) {
			margin-top: $spacing-lg*1.25;
		}
	}

	&__date {
		display: block;
		transition: $transition;
		transform-origin: bottom right;
	}

	&__link {
		display: inline-block;
		padding-left: $spacing-lg*1.1;
		font-size: $font-size-lg;
		font-weight: $font-weight-light;
		color: $color-grey-dark;

		@include respond-to(lg) {
			display: inline-block;
			padding-left: $spacing-lg * 4;
			border-bottom: 1px solid currentColor;
			font-size: $font-size-lg*1.25;
			font-weight: $font-weight-light;
		}

		&:hover,
		&--active {
			font-weight: $font-weight-bold;
			color: $color-grey;

			.years__date {
				transform: scale(1.2);
			}

			@include respond-to(lg) {
				font-weight: $font-weight-bold;

				.years__date {
						transform: scale(1.3);
					}
			}
		}
	}
}
