.year {
	width: 100%;

	&__item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		padding: $spacing 0;
		margin: 0;

		&--2018 {
			background: linear-gradient(lighten($color-red-gradient, 55%), lighten($color-red-gradient, 50%))
		}

		&--2015 {
			background: linear-gradient(lighten($color-red-gradient, 50%), lighten($color-red-gradient, 45%))
		}

		&--2012 {
			background: linear-gradient(lighten($color-red-gradient, 45%), lighten($color-red-gradient, 15%))
		}

		&--2011 {
			background: linear-gradient(lighten($color-red-gradient, 15%), $color-red-gradient)
		}
	}

	&__info {
		display: flex;
		height: 100%;
		flex-basis: 85%;
		align-items: center;
		flex-direction: column;

		@include respond-to(md) {
			flex-direction: row;
		}
  	}
}

.no-js .year{
		transform: translateZ(0);
}
