.year {
	width: 100%;

	&__item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		min-height: 100vh;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		padding: $spacing 0;
		margin: 0;

		&--2018 {
			background-image: url(../assets/images/background_img_1.jpg);
		}

		&--2010 {
			background-image: url(../assets/images/background_img_2.jpg);
		}

		&--2000 {
			background-image: url(../assets/images/background_img_3.jpg);
		}

		&--1990 {
			background-image: url(../assets/images/background_img_4.jpg);
		}
	}

	&__info {
		display: flex;
		height: 100%;
		flex-basis: 85%;
		align-items: center;
  	}
}

.no-js .year{
		transform: translateZ(0);
}
